body{
	color:white;
	font-size:14px;
	font-family:Verdana;
	font-weight:bold;
}

a{
	text-decoration:none;
	color:white;
}

.centered_div{
	width:800px;
	height:500px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px; 
	margin-left: -450px;
}