
a:link {
	color:#00ff00;
}

a:visited {
	color:#00ff00;
}

a:active {
	color:#00ff00;
}

a:hover {
	color:red;
}

.L {
	color:#00ff00;
	font-family:Verdana;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	line-height:180%;
	white-space: nowrap;
}

.L0{
	
}

.L1{
	margin-left:30px;
}

.L2{
	margin-left:60px;
}