p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
	color:#666666;
	margin-right:20px;
}

.title {
	font-size:24px;
	color:#E40018;
	text-align:center;
}

li {
	color:#00FF00;
}

a {
	color:#FF0000;
	font-weight:bold;
}

a:hover {
	text-decoration:underline;
}